//
//-- Config
//

// colors
$color-base: #15263e;
$color-base-light: #374362;
$color-gradient1: #b119ec;
$color-gradient2: #f8027e;
$color-highlight: #a91aef;
$color-header-nav-current: #1e87f0;

// widths
$smallest-width: 20em; // 320px
$very-small-width: 30em; // 480px/16 = 30em; --> phone landscape
$small-width: 48em; // 768px --> tablet portrait
$medium-width: 60em; // 960px --> tablet landscape
$medium-large-width: 64em; // 1024px --> laptop
$large-width: 75em; // 1200px
$more-large-width: 90em; // 1440px 
$very-large-width: 100em; //1600px

//$site-width: 75em;
$site-width: $medium-large-width;