//
//-- Grid Systems
//

$grid-gutter: 16px;

.grid {
	margin-left: ($grid-gutter * -1);
	margin-right: ($grid-gutter * -1);
}

.grid-collapse {
  margin-left: 0;
}

.grid-collapse > * {
	padding: 0 0;
}

// smallest grid
@include generate_grid(xs, $grid-gutter);

// small grid
@include phone-land {
	@include generate_grid(sm, $grid-gutter);
	@include generate_child_grid(sm, $grid-gutter);
}

// medium grid
@include tablet-port {
	@include generate_grid(md, $grid-gutter);
}

// large grid
@include tablet-land {
	@include generate_grid(lg, $grid-gutter);
}


// Flexbox

.flex {
	display: -ms-flexbox;
	display: flex;
	flex: 1;
}

.flex-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none
}

.flex-grid {
	margin-left: ($grid-gutter * 1);
	margin-right: ($grid-gutter * 1);
}

.flex-middle {
	align-items: center;
}

.flex-first {
	order: -1
}

.flex-last {
	order: 99
}

.flex-grid>*>:last-child {
	margin-bottom: 0;
}

.flex-column {
	flex-direction: column
}

